<launch>
	<node name="pose_publisher" pkg="myworkcell_core" type="pose_publisher" output="screen"/>
	<node name="vision_node" pkg="myworkcell_core" type="vision_node" output="screen"/>
	<node name="myworkcell_node" pkg="myworkcell_core" type="myworkcell_node" output="screen" required="true">
		<param name="base_frame" value="world"/>
	</node>
</launch>

