<?xml version="1.0" ?>
<robot name="myworkcell" xmlns:xacro="https://ros.org/wiki/xacro">

	<xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro"/>
	<xacro:ur5_robot prefix="" joint_limited="true"
		shoulder_pan_lower_limit="${-pi/4}" shoulder_pan_upper_limit="${pi/4}"
		shoulder_lift_lower_limit="${-pi*5/4}" shoulder_lift_upper_limit="0"
		elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="0"
		wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="0"
		wrist_2_lower_limit="0" wrist_2_upper_limit="${pi}"
		
	/>
	<link name="world"/>
	<link name="table">
		<visual>
			<geometry>
				<box size="1.0 1.0 0.05"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<box size="1.0 1.0 0.05"/>
			</geometry>
		</collision>
	</link>
	<link name="camera_link"/>


	<joint name="world_to_table" type="fixed">
		<parent link="world"/>
		<child link="table"/>
		<origin xyz="0 0 0.5" rpy="0 0 0"/>
	</joint>
	<joint name="table_to_robot" type="fixed">
		<parent link="table"/>
		<child link="base_link"/>
		<origin xyz="0 0 0.03" rpy="0 0 0"/>
	</joint>
	<joint name="robot_to_camera" type="fixed">
		<parent link="tool0"/>
		<child link="camera_link"/>
		<origin xyz="-0.02 -0.075 0.03" rpy="0 0 0"/>
	</joint>
</robot>
